@import "./mixins";

%Container2 {
   .Container2 {
      width: 100%;
      // height: 850px;

      >.column {
         display: grid;
         grid-template-columns: 50% 50%;
         grid-template-rows: auto;
         background-color: rgb(245, 246, 255);
         // padding: 20px;
         height: 600px;


         @include breakpoint(700px) {
            grid-template-columns: 1fr;

         }

         @include breakpoint(800px) {
           
           
            padding: 50px 20px;
            box-sizing: border-box;
         }
         
         
         
         >.col1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            box-sizing: border-box;
            margin: auto 80px;
            gap: 40px;
            
            @include breakpoint(800px) {
               margin: auto;
            }
            
            


            >.font1 {
               font-size: 16px;
               color: #8792b9;


            }

            >.font2 {
               font-size: 21px;
               color: #434345;
            }

            >.font3 {
               font-size: 16px;
               color: #9590b7;
            }

            >.btn {
               display: flex;
               justify-content: center;
               align-items: center;
               height: 50px;
               width: 160px;
               background: -webkit-linear-gradient(45deg,rgba(72,44,191,1) 0%,rgba(106,198,240,1) 100%);
               color: #ffffff;
               font-size: 14px;
               border-radius: 40px;

            }

            >.btn:hover {
               transform: scale(1.05);

            }

         }


         >.col2 {
            width: 100%;
            background-image: url(image/Cont2bg_img.jpg);
            position: relative;

            @include breakpoint(900px) {

               background-image: none;
            }

            @include breakpoint(800px) {

               display: none;
            }

            >.img {
               top: -10%;
               position: absolute;


            }
         }
      }
   }
}