@import "./Navbar";

%CoverImage {
    .coverImage {
        height: 100vh;
        background-image: url("Image/appy.jpg");

        @include breakpoint(700px) {
            height: auto;

        }

        >.row {
            width: 100%;
            height: 100%;
            background: linear-gradient(45deg, rgba(74, 44, 191, 0.73) 20%, rgba(106, 198, 240, 0.81) 100%);

            @include breakpoint(700px) {
                height: auto;

            }

            @extend %Navbar;

            >.row {
                padding: 40px 20px;
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                color: aliceblue;

                >.col1 {

                    @include breakpoint(950px) {
                        display: none;
                    }

                    >.image {
                        width: 400px;

                    }
                }

                .col2 {
                    display: flex;
                    flex-direction: column;
                    margin-top: 40px;
                    padding: 20px;
                    box-sizing: border-box;
                    max-width: 700px;


                    @include breakpoint(700px) {
                        margin: auto;
                    }




                    >.font1 {
                        font-size: 60px;


                        @include breakpoint(700px) {
                            font-size: 30px;
                        }
                    }
                        >.font2 {
                            margin: 10px 0px;
                            font-size: 16px;

                            @include breakpoint(700px) {
                                font-size: 14px;
                            }
                        }

                        

                        >.btn {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 50px;
                            width: 160px;
                            background-color: #FFFFFF;
                            border-radius: 40px;
                            font-size: 14px;
                            font-weight: 600;
                            color: #769ce8;
                            margin: 20px 0px;

                        }

                        >.btn:hover {
                            color: #FFFFFF;
                            background-color: #769ce8;
                        }
                    }
                }

            }

        }


    }