@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "./coverImage";
@import "./Container1";
@import "./Container2";
@import "./Container3";
@import "./Container4";
@import "./Container5";
@import "./Container6";
@import "./Container7";
@import "./Container8";
@import "./Container9";
@import "./Footer";


*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


body {
  @extend %CoverImage;
  @extend %Container1;
  @extend %Container2;
   @extend %Container3;
   @extend %Container4;
   @extend %Container5;
   @extend %Container6;
   @extend %Container7;
   @extend %Container8;
   @extend %Container9;
   @extend %Footer;
}



